@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: #0b9fe4;
    --primary-color-dark: #0d90cc;
    --primary-background: white;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
    --min-width: 360px;
    --shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    --transition: 0.3s;
    --font: 'Poppins', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font);
    background-color: var(--extra-light);
}

section {
    width: 90%;
    margin: 2rem auto;
    background-color: var(--extra-light);
    padding: 1rem;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* --- Nav-Logo --- */
.nav-content .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: var(--transition);
}
.nav-content .logo span {
    color: var(--primary-color);
}
.nav-content .logo a:hover {
    color: var(--primary-color-dark);
}
/* --- Hamburgare Menyn --- */
nav .menu-mobile {
    display: none;
    color: var(--text-dark);
    cursor: pointer;
    font-size: 1.5rem;
}
/* --- Navbar --- */
nav .menu-mobile {
    display: none;
    color: var(--text-dark);
    cursor: pointer;
    font-size: 1.5rem;
}
nav .menu-active {
    left: 0 !important;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--primary-background);
    z-index: 99;
    box-shadow: var(--shadow);
}
.nav-content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    gap: 1rem;
    transition: var(--transition);
    list-style: none;
}
nav ul li a {
    position: relative;
    padding: 0.5rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: color var(--transition);
}
nav ul li a::before,
nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
nav ul li a::before{
    top: 0;
}
nav ul li a::after {
    bottom: 0;
}
nav ul li a:hover {
    color: var(--primary-color);
}
nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: scaleX(1);
}
/* --- Home-Section --- */
.image {
    display: grid;
    place-items: center;
}
.image img {
    width: min(20rem, 90%);
    border: 1px solid var(--primary-color-dark);
    border-radius: 1000px;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
}
.home-container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle {
    letter-spacing: 3px;
}
.title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
}
.title .span2 {
    color: var(--primary-color);
}
.descripton {
    line-height: 2rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.home-bts {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.btn-2{
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}
.btn-2:hover{
    transform: scale(1.2)translateY(-10xp);
    background-color: var(--primary-color-dark);
    color: var(--text-dark);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.home-bts button {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}
.home-bts button:hover {
    transform: scale(1.2)translateY(-10xp);
    background-color: var(--primary-color-dark);
    color: var(--text-dark);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.home-content .social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.home-content .social a {
    font-size: 1.5rem;
    color: rgb(71, 97, 104);
    border: 2px solid var(--primary-color);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgba var(--primary-color), 0 0 10px var(--text-dark);
    transition: 0.3s;
}
.home-content .social a:hover {
    transform: scale(1.2)translateY(-10xp);
    color: var(--primary-color-dark);
    border-radius: 2px solid var(--primary-color-dark);
}
/* --- About-Section --- */
.image2 {
    float: left;
    width: 500px; /* Behåll samma bildbredd som tidigare */
    margin-right: 1rem; /* Mellanrum mellan bilden och texten */
    display: block; /* Tar bort grid-inställningen */
}
.image2 img {
    width: 100%;
    border: 1px solid var(--primary-color-dark);
    border-radius: 33%;
    background-color: var(--primary-color);
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}
.about-container {
    min-height: 100vh;
    max-width: var(--max-width);
    padding: 5rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.about-container .head {
    overflow: hidden; /* Rensar floaten */
    text-align: left; /* Justerar texten vänster om det passar din design */
    margin-bottom: 1rem;
}
.about-container .head p {
    margin-bottom: 20px;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    align-items: center;
}
.about-content .descripton {
    margin: auto;
    margin-bottom: 50px;
}
.about-content p {
    margin-bottom: 10px;
}
.about-container h4 {
    color: var(--primary-color-dark);
}
.about-container h3 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.testimonial-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
  
.testimonials-card {
    background: var(--primary-background);
    min-height: 155px;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testimonials-card:hover {
    transform: translateY(-10px);
    border: 2px solid var(--primary-color-dark);
}
/* --- Skills-Section --- */
.skills-container {
    min-height: 50vh;
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 5rem 2rem;
}
.skills-content {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-content: center;
    gap: 1rem;
}
.skill-card {
    background: var(--primary-background);
    height: 195px;
    width: 325px;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}
.skill-card:hover {
    transform: translateY(-10px);
    border: 2px solid var(--primary-color-dark);
}
.skill-card i {
    font-size: 3rem;
    color: var(--primary-color);
}
.skill-card h3 {
    font-size: 1.5rem;
    color:  var(--text-dark);
}
.skill-card p {
    color: var(--text-light);
}
/* --- Project-Section --- */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.mySwiper {
    width: 100%;
}
.container {
    overflow: hidden;
}
.swiper-wrapper {
    padding: 0 2rem 0rem 2rem;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    overflow: hidden;
}
.swiper-slide .box {
    height: 700px;
    width: 500px;
    object-fit: cover;
    background: white;
    border-radius: 10px;
    border: 1px solid rgb(188, 188, 188);
}
.box .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.box .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(188, 188, 188);
}
.box .info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 320px); 
    
}
.box .info h2 {
    font-size: 2rem;
    font-weight: 400;
}
.box .info p {
    font-size: 1rem;
}
.box .info .btn {
    margin-top: auto;
}
.box .info .btn button {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.box .info .btn button:hover {
    transform: scale(1.2)translateY(-10xp);
    background-color: white;
    color: var(--text-dark);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--primary-color); /* Färg på pilar */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev {
    position: absolute;
    left: -10px;
}

.swiper-button-next {
    right: -10px;
    position: absolute;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.5rem;
    font-weight: bold;
}
/* --- ContactForm Modal ---*/
.modal {
    display: none;
    position: fixed;
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
  /* Modal Innehåll */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}
.contact-info{
    margin-bottom: 20px;
}
.contact-info p {
    text-align: start;
    line-height: 2rem;
    margin: auto;
}
.modal-content h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}
.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close-button:hover,
.close-button:focus {
    color: #000;
}
.modal-content button {
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}
.input-group {
    margin-bottom: 1rem;
}
.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: start;
}
.input-group input,
.input-group textarea {
    resize: none;
    font-family: var(--font);
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group textarea{
    height: 150px;
}
/* --- Weather API --- */
.weather-api {
    gap: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--text-dark);
}
.weather-api button {
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0.17rem 0.17rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}
.weather-api button:hover {
    background-color: var(--primary-color-dark);
    color: black;
}
.weather-api input {
    padding: 0.3rem 0.3rem;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
    width: 100px;
}
.weather-api input:focus{
    border: 1px solid var(--primary-color); /* Ändrar kantfärgen */
    outline: none;
}
.weather-api textarea {
    font-family: var(--font);
}
#weather-icon {
    width: 20%;
}
/* --- Footer --- */
footer {
    background-color: var(--primary-background);
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 4rem;
    box-shadow: var(--shadow);
}
footer .logo{
    padding: 1rem;
}
footer .logo a {
    color: var(--text-dark);
}
footer .logo span {
    color: var(--primary-color);   
}
footer ul li {
    display: inline-block;
    padding: 0 20px;
    
}
footer .social {
    text-align: center;
    padding: 0 25px;
}
footer .social a {
    font-size: 1.5rem;
    color: rgb(71, 97, 104);
    border: 2px solid var(--primary-color);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgba var(--primary-color), 0 0 10px var(--text-dark);
    transition: 0.3s;
}
footer .social a:hover {
    transform: scale(1.2)translateY(-10xp);
    color: var(--primary-color-dark);
    border-radius: 2px solid var(--primary-color-dark);
}
.list a {
    color: var(--primary-color);
}
.list a:hover {
    border-top: 1px solid var(--primary-color-dark);
    border-bottom: 1px solid var(--primary-color-dark);
    transition: 0.3s;
}

/* --- Media Queries --- */

@media (min-width: 769px) and (max-width: 1024px) {
    /* About */
    .image2 img {
        width: 80% ;
    }
    .testimonial-container {
        grid-template-columns: repeat(2, 2fr);
    }
    .skills-content {
        grid-template-columns: repeat(2, 2fr);
    }
    /* Footer */
    footer .weather-api {
        display: none;
    }
}
@media (min-width: 360px) and (max-width: 860px){

    /* NAV */
    nav .menu-mobile {
        display: block;
    }
    .nav-content ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        left: -100%;
        top: 82px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    .nav-content ul li a {
        font-size: 1.5rem;
        left: 4rem;
    }
    /* Home */
    .image {
        grid-area: 1/1/2/2;
    }
    .home-container {
        grid-template-columns: repeat(1,1fr);
    }
    .home-bts button {
        padding: 1rem 1.5rem;
    }
    /* About */
    .image {
        grid-area: 1/1/2/2;
    }
    .image2 {
        float: none;         /* Ta bort floaten */
        width: 100%;         /* Bilden tar hela bredden */
        margin: 0 auto 1rem auto; /* Centrerar bilden och ger lite marginal nedanför */
        text-align: center;
    }
    .head-text {
        text-align: left;    /* Återställ textjusteringen om du vill */
    }
    .about-container {
        grid-template-columns: repeat(1,1fr);
        gap: 0;
        padding: 0;
    }
    .testimonial-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .image2 img {
        width: 300px;
    }
    /* Skills */
    .skills-content {
        grid-template-columns: repeat(1,1fr);
    }
    /* Footer */
    footer .logo{
        padding: 0;
    }
    footer .weather-api {
        display: none;
    }
    footer .social {
        padding: 0;
    }
    footer .social a {
        margin: 0;
    }
}